In [117]:
import pandas as pd

df=pd.read_csv('V5.csv', sep=';', decimal=',')
df.head()

      A2      A3 A4 A5  A6  A11 A12 A13  A14  A15 A16
0  17.92   0.540  u  g   c    1   t   g   80    5   -
1  38.75   1.500  u  g  ff    0   f   g   76    0   -
2  23.92   0.665  u  g   c    0   f   g  100    0   +
3  23.50   9.000  u  g   q    5   t   g  120    0   +
4  24.42  12.335  u  g   q    0   t   g  120    0   +

In [118]:
qualitative_data_df=df#качественные данные
qualitative_data_df

        A2      A3 A4 A5  A6  A11 A12 A13  A14  A15 A16
0    17.92   0.540  u  g   c    1   t   g   80    5   -
1    38.75   1.500  u  g  ff    0   f   g   76    0   -
2    23.92   0.665  u  g   c    0   f   g  100    0   +
3    23.50   9.000  u  g   q    5   t   g  120    0   +
4    24.42  12.335  u  g   q    0   t   g  120    0   +
..     ...     ... .. ..  ..  ...  ..  ..  ...  ...  ..
495  34.08   6.500  u  g  aa    0   t   g  443    0   -
496  40.92   2.250  y  p   x    0   t   g  176    0   -
497  58.58   2.710  u  g   c    0   t   g  320    0   -
498  42.83   1.250  u  g   m    1   t   g  352  112   -
499  28.67   9.335  u  g   q    6   f   g  381  168   +

[500 rows x 11 columns]

In [119]:
qualitative_data_df['A16'] = qualitative_data_df['A16'].apply(lambda x: 1 if x=='+' else 0)
qualitative_data_df

        A2      A3 A4 A5  A6  A11 A12 A13  A14  A15  A16
0    17.92   0.540  u  g   c    1   t   g   80    5    0
1    38.75   1.500  u  g  ff    0   f   g   76    0    0
2    23.92   0.665  u  g   c    0   f   g  100    0    1
3    23.50   9.000  u  g   q    5   t   g  120    0    1
4    24.42  12.335  u  g   q    0   t   g  120    0    1
..     ...     ... .. ..  ..  ...  ..  ..  ...  ...  ...
495  34.08   6.500  u  g  aa    0   t   g  443    0    0
496  40.92   2.250  y  p   x    0   t   g  176    0    0
497  58.58   2.710  u  g   c    0   t   g  320    0    0
498  42.83   1.250  u  g   m    1   t   g  352  112    0
499  28.67   9.335  u  g   q    6   f   g  381  168    1

[500 rows x 11 columns]

In [120]:
#Столбец А4
qualitative_data_df['A4']=qualitative_data_df['A4'].replace('u',0.4467223273)
qualitative_data_df['A4']=qualitative_data_df['A4'].replace('y',0.2361623612)
qualitative_data_df['A4']=qualitative_data_df['A4'].replace('l',0.6187845298)

#Столбец А5
qualitative_data_df['A5']=qualitative_data_df['A5'].replace('g',0.4467223273)
qualitative_data_df['A5']=qualitative_data_df['A5'].replace('p',0.2361623612)
qualitative_data_df['A5']=qualitative_data_df['A5'].replace('gg',0.6187845298)

#Столбец А6
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('c',0.388659184)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('d',0.245076586)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('сc',0.631454005)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('i',0.168674698)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('j',0.288659793)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('k',0.272506082)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('m',0.338880484)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('r',0.549019607)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('q',0.642096642)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('w',0.495121951)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('x',0.778609625)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('e',0.574948665)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('aa',0.336538461)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('ff',0.082717873)

#Столбец А12
qualitative_data_df['A12']=qualitative_data_df['A12'].replace('t',0.416371077)
qualitative_data_df['A12']=qualitative_data_df['A12'].replace('f',0.381418092)

#Столбец А13
qualitative_data_df['A13']=qualitative_data_df['A13'].replace('g',0.412856995)
qualitative_data_df['A13']=qualitative_data_df['A13'].replace('p',0.288659793)
qualitative_data_df['A13']=qualitative_data_df['A13'].replace('s',0.245076586)


print(qualitative_data_df)

        A2      A3        A4        A5        A6  A11       A12       A13  \
0    17.92   0.540  0.446722  0.446722  0.388659    1  0.416371  0.412857
1    38.75   1.500  0.446722  0.446722  0.082718    0  0.381418  0.412857
2    23.92   0.665  0.446722  0.446722  0.388659    0  0.381418  0.412857
3    23.50   9.000  0.446722  0.446722  0.642097    5  0.416371  0.412857
4    24.42  12.335  0.446722  0.446722  0.642097    0  0.416371  0.412857
..     ...     ...       ...       ...       ...  ...       ...       ...
495  34.08   6.500  0.446722  0.446722  0.336538    0  0.416371  0.412857
496  40.92   2.250  0.236162  0.236162   0.77861    0  0.416371  0.412857
497  58.58   2.710  0.446722  0.446722  0.388659    0  0.416371  0.412857
498  42.83   1.250  0.446722  0.446722   0.33888    1  0.416371  0.412857
499  28.67   9.335  0.446722  0.446722  0.642097    6  0.381418  0.412857

     A14  A15  A16
0     80    5    0
1     76    0    0
2    100    0    1
3    120    0    1
4    120    0    1
..   ...  ...  ...
495  443    0    0
496  176    0    0
497  320    0    0
498  352  112    0
499  381  168    1

[500 rows x 11 columns]

In [151]:
qualitative_data_df.to_excel('qualitative_data.xlsx',index=False, header=True)

In [123]:
quantitative_data_df=qualitative_data_df.copy()#количественные данные
quantitative_data_df

,A2,A3,A4,A5,A6,A11,A12,A13,A14,A15,A16
0,17.92,0.540,0.446722,0.446722,0.388659,1,0.416371,0.412857,80,5,0
1,38.75,1.500,0.446722,0.446722,0.082718,0,0.381418,0.412857,76,0,0
2,23.92,0.665,0.446722,0.446722,0.388659,0,0.381418,0.412857,100,0,1
3,23.50,9.000,0.446722,0.446722,0.642097,5,0.416371,0.412857,120,0,1
4,24.42,12.335,0.446722,0.446722,0.642097,0,0.416371,0.412857,120,0,1
...,...,...,...,...,...,...,...,...,...,...,...
495,34.08,6.500,0.446722,0.446722,0.336538,0,0.416371,0.412857,443,0,0
496,40.92,2.250,0.236162,0.236162,0.77861,0,0.416371,0.412857,176,0,0
497,58.58,2.710,0.446722,0.446722,0.388659,0,0.416371,0.412857,320,0,0
498,42.83,1.250,0.446722,0.446722,0.33888,1,0.416371,0.412857,352,112,0
499,28.67,9.335,0.446722,0.446722,0.642097,6,0.381418,0.412857,381,168,1

In [66]:
#данные для табличек "Значения после калибровки" 
count=qualitative_data_df['A13'].value_counts()['s']#количество буковок определенных в определенном столбце
plus_count=qualitative_data_df[(qualitative_data_df['A13'] == 's') & (qualitative_data_df['A16'] == 1)].shape[0]#их количество для положительного класса
minus_count = qualitative_data_df[(qualitative_data_df['A13'] == 's') & (qualitative_data_df['A16'] == 0)].shape[0]#для отрицательного
print(count, plus_count,minus_count)

40 11 29

In [124]:
# Расчет интервалов дискретизации по квантилям
import numpy as np

np.set_printoptions(precision=3)

quantiles_a2 = np.quantile(quantitative_data_df['A2'],[0.0, 0.2, 0.4, 0.6, 0.8, 1.0])
quantiles_a3 = np.quantile(quantitative_data_df['A3'],[0.0, 0.2, 0.4, 0.6, 0.8, 1.0])
quantiles_a11 = np.quantile(quantitative_data_df['A11'],[0.0, 0.2, 0.4, 0.6, 0.8, 1.0])
quantiles_a14 = np.quantile(quantitative_data_df['A14'],[0.0, 0.2, 0.4, 0.6, 0.8, 1.0])
quantiles_a15 = np.quantile(quantitative_data_df['A15'],[0.0, 0.2, 0.4, 0.6, 0.8, 1.0])

categories_a2=[]
categories_a3=[]
categories_a11=[]
categories_a14=[]
categories_a15=[]

#Фигня конечно но иначе не работает

q_a3=[0.000, 0.822, 2.000, 4.415, 9.500, 28.000]
q_a11=[0.0, 1.0, 5.0, 67.0]
q_a14=[0.0, 21.6, 120.0, 181.0, 290.0, 980.0]
q_a15=[0.0,50.0,587.8, 51100.0]

#Добавим все данные в массивЫ
#A2
for value in quantitative_data_df['A2']:
    for i in range(len(quantiles_a2)):
        if i == 0:
            if quantiles_a2[i] <= value <= quantiles_a2[i+1]:
                categories_a2.append(i+1)
                flag = True
                break    
        if quantiles_a2[i] < value <= quantiles_a2[i+1]:
            categories_a2.append(i+1)
            break
            
#A3
flag = False
idx = 0
for value in quantitative_data_df['A3']:
    for i in range(len(q_a3)):
        if i == 0:
            if q_a3[i] <= value <= q_a3[i+1]:
                categories_a3.append(i+1)
                flag = True
                break    
        
        if q_a3[i] < value <= q_a3[i+1]:
            categories_a3.append(i+1)
            flag = True
            break
    if flag == False:
        print(idx)
    
    flag = False
    idx = idx + 1
            

#A11
for value in quantitative_data_df['A11']:
    for i in range(len(q_a11)-1):
        if i == 0:
            if q_a11[i] <= value <= q_a11[i+1]:
                categories_a11.append(i+1)
                flag = True
                break    
        
        if q_a11[i] < value <= q_a11[i+1]:
            categories_a11.append(i+1)
            break
            

#A14
for value in quantitative_data_df['A14']:
    for i in range(len(q_a14)-1):
        if i == 0:
            if q_a14[i] <= value <= q_a14[i+1]:
                categories_a14.append(i+1)
                flag = True
                break    
        
        if q_a14[i] < value <= q_a14[i+1]:
            categories_a14.append(i+1)
            break
            

#A15
for value in quantitative_data_df['A15']:
    for i in range(len(q_a15)-1):
        if i == 0:
            if q_a15[i] <= value <= q_a15[i+1]:
                categories_a15.append(i+1)
                flag = True
                break    
        
        if q_a15[i] < value <= q_a15[i+1]:
            categories_a15.append(i+1)
            break
            


print('quantiles_a2:',quantiles_a2)
print('quantiles_a3:',quantiles_a3)
print('quantiles_a11:',quantiles_a11)
print('quantiles_a14:',quantiles_a14)
print('quantiles_a15:',quantiles_a15)

print('2',categories_a2)
print('3',categories_a3)
print('11',categories_a11)
print('14',categories_a14)
print('15',categories_a15)

print('2',len(categories_a2))
print('3',len(categories_a3))
print('11',len(categories_a11))
print('14',len(categories_a14))
print('15',len(categories_a15))
#quantitative_data_df

quantiles_a2: [15.17  21.814 25.468 32.282 40.92  74.83 ]
quantiles_a3: [ 0.     0.822  2.     4.415  9.5   28.   ]
quantiles_a11: [ 0.  0.  0.  1.  5. 67.]
quantiles_a14: [  0.   21.6 120.  181.  290.  980. ]
quantiles_a15: [0.000e+00 0.000e+00 0.000e+00 5.000e+01 5.878e+02 5.110e+04]
2 [1, 4, 2, 2, 2, 3, 4, 5, 2, 5, 5, 4, 5, 2, 5, 3, 2, 5, 5, 4, 2, 3, 4, 3, 5, 2, 3, 4, 4, 5, 4, 5, 1, 4, 2, 4, 1, 1, 2, 4, 5, 3, 4, 5, 5, 4, 3, 5, 2, 5, 4, 5, 5, 1, 5, 5, 1, 2, 4, 3, 5, 4, 5, 5, 4, 2, 1, 1, 2, 5, 3, 4, 4, 4, 5, 2, 2, 1, 3, 2, 3, 2, 1, 4, 2, 3, 5, 3, 4, 4, 1, 1, 5, 4, 4, 1, 2, 2, 5, 2, 3, 2, 3, 3, 4, 1, 5, 4, 3, 2, 3, 3, 2, 3, 3, 4, 4, 1, 1, 5, 3, 2, 2, 3, 3, 3, 1, 4, 2, 4, 2, 5, 1, 5, 4, 5, 4, 2, 5, 3, 5, 2, 3, 3, 5, 1, 1, 3, 3, 2, 5, 4, 2, 1, 5, 5, 1, 4, 1, 4, 5, 1, 5, 1, 1, 2, 2, 5, 5, 3, 5, 1, 2, 1, 5, 2, 2, 3, 2, 3, 3, 2, 1, 2, 5, 1, 1, 1, 3, 1, 5, 2, 3, 5, 2, 4, 2, 2, 1, 4, 3, 5, 1, 3, 1, 5, 1, 5, 1, 2, 5, 2, 5, 3, 2, 1, 4, 1, 5, 2, 3, 2, 2, 3, 1, 5, 2, 3, 5, 3, 3, 4, 5, 1, 5, 2, 3, 5, 4, 4, 2, 1, 1, 1, 3, 1, 1, 4, 2, 1, 4, 1, 4, 4, 5, 1, 5, 5, 3, 4, 5, 1, 1, 5, 5, 3, 3, 3, 5, 1, 2, 4, 3, 2, 3, 2, 1, 4, 2, 3, 3, 4, 2, 5, 4, 1, 4, 2, 4, 4, 3, 4, 4, 4, 5, 2, 3, 3, 4, 4, 1, 4, 4, 4, 1, 2, 2, 5, 2, 4, 1, 1, 2, 1, 3, 2, 2, 1, 3, 5, 3, 4, 2, 2, 1, 5, 4, 4, 3, 4, 5, 3, 1, 3, 2, 4, 1, 5, 5, 4, 2, 1, 5, 5, 4, 4, 2, 4, 3, 4, 5, 3, 3, 2, 2, 1, 3, 5, 3, 1, 1, 4, 1, 3, 5, 2, 1, 4, 3, 3, 2, 1, 5, 2, 1, 2, 2, 1, 3, 1, 5, 5, 1, 5, 3, 3, 4, 3, 1, 4, 1, 2, 5, 5, 3, 3, 2, 3, 4, 4, 2, 3, 1, 2, 5, 1, 1, 4, 4, 3, 2, 3, 3, 2, 5, 4, 4, 2, 3, 3, 2, 2, 1, 1, 1, 5, 3, 4, 2, 4, 1, 1, 3, 4, 2, 1, 1, 5, 3, 5, 4, 2, 4, 4, 3, 2, 1, 4, 3, 4, 1, 4, 1, 4, 4, 1, 2, 3, 5, 1, 5, 4, 1, 3, 5, 4, 4, 2, 5, 2, 5, 2, 4, 1, 3, 1, 1, 1, 1, 2, 1, 2, 1, 2, 5, 3, 5, 3, 3, 4, 3, 4, 3, 3, 3, 4, 4, 5, 5, 3]
3 [1, 2, 1, 4, 5, 3, 2, 1, 4, 4, 1, 3, 4, 2, 1, 5, 4, 3, 5, 3, 5, 5, 3, 4, 4, 4, 2, 4, 5, 2, 4, 4, 1, 3, 5, 1, 4, 3, 4, 4, 2, 5, 2, 1, 2, 2, 2, 1, 2, 4, 4, 4, 3, 1, 4, 1, 5, 1, 3, 5, 5, 4, 3, 1, 1, 3, 4, 4, 5, 1, 5, 4, 3, 1, 5, 2, 2, 4, 2, 3, 2, 3, 5, 2, 3, 3, 2, 1, 4, 1, 1, 4, 5, 4, 2, 3, 1, 1, 4, 4, 5, 3, 2, 1, 5, 2, 4, 3, 1, 2, 4, 1, 1, 3, 5, 2, 2, 5, 4, 3, 2, 2, 4, 5, 3, 5, 3, 1, 2, 5, 5, 3, 4, 5, 5, 4, 1, 3, 1, 1, 4, 2, 4, 5, 5, 4, 5, 1, 3, 3, 5, 2, 1, 1, 5, 5, 1, 3, 2, 2, 3, 3, 1, 1, 5, 2, 5, 5, 1, 2, 4, 3, 2, 4, 3, 2, 1, 2, 1, 3, 2, 3, 1, 5, 5, 2, 1, 1, 1, 1, 5, 1, 1, 5, 5, 2, 3, 5, 5, 3, 4, 2, 5, 5, 2, 2, 2, 2, 4, 5, 5, 5, 5, 3, 1, 2, 3, 1, 3, 5, 2, 3, 5, 1, 5, 3, 2, 2, 3, 2, 2, 3, 2, 1, 4, 1, 2, 5, 5, 4, 1, 2, 5, 2, 3, 4, 5, 3, 1, 5, 3, 4, 4, 3, 5, 4, 1, 4, 2, 3, 4, 4, 1, 4, 3, 1, 2, 2, 4, 4, 5, 1, 4, 3, 3, 2, 5, 3, 4, 2, 1, 2, 3, 5, 2, 4, 4, 3, 4, 4, 3, 5, 4, 3, 4, 2, 2, 2, 1, 4, 2, 2, 3, 3, 3, 4, 5, 5, 4, 3, 3, 2, 5, 1, 3, 1, 1, 5, 1, 3, 5, 3, 1, 3, 2, 2, 4, 3, 1, 1, 4, 5, 4, 1, 5, 3, 1, 5, 1, 3, 2, 1, 2, 5, 4, 3, 5, 2, 1, 3, 4, 1, 5, 5, 1, 5, 2, 4, 4, 1, 5, 3, 1, 5, 1, 4, 4, 4, 2, 2, 1, 4, 5, 5, 3, 5, 1, 5, 3, 4, 3, 1, 1, 4, 2, 2, 3, 4, 1, 3, 3, 1, 4, 4, 2, 3, 1, 2, 3, 5, 5, 3, 5, 5, 4, 4, 1, 4, 4, 2, 5, 2, 3, 4, 4, 4, 4, 1, 2, 4, 2, 5, 1, 5, 4, 3, 2, 1, 5, 2, 1, 1, 3, 4, 2, 4, 2, 3, 5, 2, 3, 1, 3, 3, 5, 2, 4, 3, 2, 1, 5, 2, 5, 2, 3, 2, 2, 1, 2, 1, 1, 3, 4, 4, 4, 4, 1, 1, 2, 3, 5, 1, 3, 2, 3, 5, 4, 3, 1, 1, 2, 5, 5, 3, 4, 2, 5, 2, 4, 3, 1, 2, 1, 3, 2, 4, 3, 3, 2, 4]
11 [1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 3, 1, 3, 1, 1, 1, 3, 2, 3, 1, 3, 1, 3, 3, 1, 1, 1, 1, 1, 1, 3, 3, 1, 1, 1, 1, 1, 2, 2, 2, 1, 3, 1, 1, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 2, 1, 1, 2, 3, 2, 1, 1, 1, 1, 1, 1, 2, 3, 3, 2, 3, 1, 1, 2, 2, 1, 1, 2, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 3, 1, 2, 1, 2, 1, 3, 1, 1, 3, 2, 1, 1, 1, 3, 3, 3, 3, 1, 3, 1, 1, 1, 2, 2, 1, 2, 1, 1, 3, 1, 3, 1, 1, 3, 2, 3, 1, 3, 3, 1, 3, 2, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 3, 1, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 2, 1, 1, 1, 1, 3, 3, 1, 3, 1, 3, 1, 1, 1, 1, 1, 1, 3, 2, 1, 1, 1, 1, 2, 2, 3, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 1, 3, 3, 1, 1, 1, 1, 1, 3, 1, 3, 3, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 3, 1, 3, 1, 3, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 2, 3, 1, 1, 1, 1, 1, 2, 2, 1, 1, 3, 1, 1, 1, 1, 3, 3, 2, 3, 3, 1, 2, 3, 1, 2, 1, 1, 1, 1, 2, 3, 1, 3, 3, 3, 3, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 3, 1, 1, 1, 1, 1, 1, 3, 3, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 3, 3, 1, 2, 3, 1, 1, 3, 1, 1, 2, 2, 1, 1, 3, 2, 1, 1, 3, 1, 1, 1, 3, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 2, 1, 3, 1, 3, 2, 1, 2, 1, 1, 1, 2, 1, 3, 1, 1, 3, 3, 3, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 3, 2, 1, 1, 2, 3, 1, 3, 3, 1, 1, 2, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 3, 1, 2, 2, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3]
14 [2, 2, 2, 2, 2, 5, 5, 4, 3, 2, 5, 4, 1, 4, 5, 2, 3, 5, 1, 5, 2, 4, 4, 5, 1, 1, 3, 1, 3, 1, 5, 1, 4, 3, 3, 4, 2, 2, 1, 1, 1, 3, 5, 1, 5, 5, 4, 3, 4, 5, 4, 2, 4, 4, 2, 3, 4, 5, 4, 1, 1, 5, 3, 5, 3, 1, 2, 2, 2, 5, 3, 5, 2, 5, 2, 3, 5, 2, 3, 4, 1, 3, 2, 3, 1, 5, 4, 4, 4, 4, 2, 3, 2, 1, 5, 3, 1, 3, 2, 5, 4, 5, 1, 2, 1, 2, 1, 2, 5, 3, 1, 4, 3, 3, 3, 1, 5, 2, 2, 5, 3, 4, 2, 4, 4, 5, 5, 4, 4, 5, 2, 4, 2, 1, 2, 1, 4, 3, 5, 2, 2, 4, 3, 1, 2, 1, 2, 4, 5, 5, 1, 2, 4, 4, 1, 2, 4, 5, 3, 4, 4, 3, 5, 5, 1, 2, 2, 1, 3, 5, 4, 4, 2, 2, 5, 3, 5, 4, 2, 2, 4, 1, 4, 1, 2, 4, 4, 5, 5, 4, 1, 1, 4, 1, 2, 1, 3, 4, 3, 4, 5, 2, 1, 1, 4, 1, 3, 1, 4, 1, 3, 5, 1, 3, 4, 3, 4, 3, 2, 4, 2, 2, 4, 5, 2, 5, 5, 5, 5, 5, 5, 5, 1, 3, 1, 4, 2, 1, 5, 2, 4, 3, 2, 1, 2, 1, 4, 5, 4, 1, 5, 2, 4, 4, 1, 1, 1, 3, 2, 3, 2, 3, 1, 1, 5, 2, 4, 4, 2, 2, 3, 5, 5, 3, 2, 4, 5, 2, 3, 3, 5, 3, 4, 1, 2, 2, 5, 3, 1, 1, 5, 1, 1, 5, 1, 2, 4, 5, 5, 1, 4, 1, 4, 3, 1, 2, 2, 1, 2, 1, 3, 2, 3, 1, 2, 4, 5, 2, 4, 1, 5, 4, 5, 3, 2, 3, 5, 4, 5, 4, 1, 1, 1, 5, 2, 4, 3, 1, 2, 2, 4, 2, 1, 1, 3, 2, 3, 5, 1, 1, 5, 4, 1, 2, 5, 4, 1, 1, 4, 4, 5, 4, 4, 3, 5, 1, 2, 5, 2, 3, 1, 2, 4, 1, 2, 4, 3, 1, 5, 2, 2, 1, 5, 3, 1, 2, 4, 2, 3, 5, 2, 5, 3, 1, 4, 4, 3, 4, 3, 1, 1, 3, 3, 4, 1, 2, 3, 1, 4, 2, 1, 3, 3, 4, 1, 3, 5, 1, 2, 5, 2, 1, 3, 2, 1, 2, 5, 3, 5, 4, 2, 2, 5, 2, 4, 5, 2, 2, 2, 5, 5, 3, 3, 1, 3, 5, 2, 1, 3, 4, 2, 1, 3, 3, 5, 3, 3, 4, 4, 3, 1, 5, 2, 5, 3, 4, 4, 2, 3, 2, 1, 2, 3, 2, 4, 2, 2, 2, 5, 2, 1, 2, 3, 4, 5, 4, 3, 3, 3, 5, 5, 4, 4, 3, 3, 5, 3, 5, 5, 5]
15 [1, 1, 1, 1, 1, 1, 1, 3, 1, 3, 3, 1, 2, 1, 1, 1, 3, 3, 1, 1, 2, 1, 1, 3, 1, 1, 2, 3, 1, 1, 1, 3, 2, 3, 2, 1, 2, 1, 1, 1, 2, 2, 1, 3, 3, 3, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 3, 3, 2, 1, 1, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 3, 1, 2, 2, 3, 1, 2, 1, 1, 1, 1, 2, 3, 2, 1, 1, 1, 1, 1, 3, 1, 1, 1, 3, 1, 1, 1, 1, 1, 3, 1, 2, 1, 2, 3, 1, 1, 3, 2, 1, 1, 1, 2, 1, 2, 2, 3, 1, 2, 1, 3, 1, 2, 3, 1, 3, 2, 1, 1, 2, 3, 3, 3, 1, 1, 2, 1, 2, 2, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 3, 1, 1, 1, 2, 3, 1, 3, 2, 3, 3, 1, 1, 1, 2, 1, 1, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 3, 1, 2, 1, 2, 3, 2, 2, 2, 3, 1, 1, 1, 1, 1, 3, 1, 2, 1, 3, 3, 1, 1, 1, 1, 3, 3, 1, 1, 2, 1, 1, 2, 1, 3, 2, 1, 2, 1, 1, 1, 2, 1, 3, 3, 2, 1, 3, 1, 3, 2, 3, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 3, 1, 1, 1, 2, 3, 1, 1, 1, 3, 1, 3, 2, 2, 2, 3, 1, 2, 1, 1, 3, 2, 1, 3, 2, 1, 1, 1, 2, 1, 1, 2, 2, 2, 1, 3, 1, 2, 2, 3, 3, 1, 2, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 3, 1, 1, 1, 2, 2, 2, 3, 1, 2, 1, 3, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 3, 1, 2, 1, 1, 2, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 3, 1, 2, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 2, 3, 3, 1, 1, 1, 2, 1, 3, 2, 1, 1, 2, 2, 3, 1, 3, 1, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 2, 3, 1, 1, 1, 2, 1, 3, 1, 1, 3, 2, 1, 1, 3, 1, 1, 1, 2, 1, 1, 3, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 3, 3, 1, 1, 2, 1, 1, 3, 1, 3, 2, 1, 1, 1, 3, 3, 3, 1, 2, 2, 1, 3, 3, 3, 2, 1, 1, 1, 1, 2, 2]
2 500
3 500
11 500
14 500
15 500

In [125]:
#заменяем столбцы
quantitative_data_df.loc[:,'A2']= categories_a2
quantitative_data_df.loc[:,'A3']= categories_a3
quantitative_data_df.loc[:,'A11']= categories_a11
quantitative_data_df.loc[:,'A14']= categories_a14
quantitative_data_df.loc[:,'A15']= categories_a15

quantitative_data_df

,A2,A3,A4,A5,A6,A11,A12,A13,A14,A15,A16
0,1.0,1.0,0.446722,0.446722,0.388659,1,0.416371,0.412857,2,1,0
1,4.0,2.0,0.446722,0.446722,0.082718,1,0.381418,0.412857,2,1,0
2,2.0,1.0,0.446722,0.446722,0.388659,1,0.381418,0.412857,2,1,1
3,2.0,4.0,0.446722,0.446722,0.642097,2,0.416371,0.412857,2,1,1
4,2.0,5.0,0.446722,0.446722,0.642097,1,0.416371,0.412857,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...
495,4.0,4.0,0.446722,0.446722,0.336538,1,0.416371,0.412857,5,1,0
496,4.0,3.0,0.236162,0.236162,0.77861,1,0.416371,0.412857,3,1,0
497,5.0,3.0,0.446722,0.446722,0.388659,1,0.416371,0.412857,5,1,0
498,5.0,2.0,0.446722,0.446722,0.33888,1,0.416371,0.412857,5,2,0
499,3.0,4.0,0.446722,0.446722,0.642097,3,0.381418,0.412857,5,2,1

In [152]:
quantitative_data_df.to_excel('quantitative_data.xlsx',index=False, header=True)

In [126]:
qualitative_data_df

,A2,A3,A4,A5,A6,A11,A12,A13,A14,A15,A16
0,17.92,0.540,0.446722,0.446722,0.388659,1,0.416371,0.412857,80,5,0
1,38.75,1.500,0.446722,0.446722,0.082718,0,0.381418,0.412857,76,0,0
2,23.92,0.665,0.446722,0.446722,0.388659,0,0.381418,0.412857,100,0,1
3,23.50,9.000,0.446722,0.446722,0.642097,5,0.416371,0.412857,120,0,1
4,24.42,12.335,0.446722,0.446722,0.642097,0,0.416371,0.412857,120,0,1
...,...,...,...,...,...,...,...,...,...,...,...
495,34.08,6.500,0.446722,0.446722,0.336538,0,0.416371,0.412857,443,0,0
496,40.92,2.250,0.236162,0.236162,0.77861,0,0.416371,0.412857,176,0,0
497,58.58,2.710,0.446722,0.446722,0.388659,0,0.416371,0.412857,320,0,0
498,42.83,1.250,0.446722,0.446722,0.33888,1,0.416371,0.412857,352,112,0
499,28.67,9.335,0.446722,0.446722,0.642097,6,0.381418,0.412857,381,168,1

In [127]:
quantitative_data_df

,A2,A3,A4,A5,A6,A11,A12,A13,A14,A15,A16
0,1.0,1.0,0.446722,0.446722,0.388659,1,0.416371,0.412857,2,1,0
1,4.0,2.0,0.446722,0.446722,0.082718,1,0.381418,0.412857,2,1,0
2,2.0,1.0,0.446722,0.446722,0.388659,1,0.381418,0.412857,2,1,1
3,2.0,4.0,0.446722,0.446722,0.642097,2,0.416371,0.412857,2,1,1
4,2.0,5.0,0.446722,0.446722,0.642097,1,0.416371,0.412857,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...
495,4.0,4.0,0.446722,0.446722,0.336538,1,0.416371,0.412857,5,1,0
496,4.0,3.0,0.236162,0.236162,0.77861,1,0.416371,0.412857,3,1,0
497,5.0,3.0,0.446722,0.446722,0.388659,1,0.416371,0.412857,5,1,0
498,5.0,2.0,0.446722,0.446722,0.33888,1,0.416371,0.412857,5,2,0
499,3.0,4.0,0.446722,0.446722,0.642097,3,0.381418,0.412857,5,2,1

## Задание 2

In [156]:


qual_data = pd.read_excel("qualitative_data.xlsx")
uni_2=list(qual_data['A2'].unique())
uni_3=list(qual_data['A3'].unique())
uni_4=list(qual_data['A4'].unique())
uni_5=list(qual_data['A5'].unique())
uni_6=list(qual_data['A6'].unique())
uni_11=list(qual_data['A11'].unique())
uni_12=list(qual_data['A12'].unique())
uni_13=list(qual_data['A13'].unique())
uni_14=list(qual_data['A14'].unique())
uni_15=list(qual_data['A15'].unique())
uni_16=list(qual_data['A16'].unique())

uni=[]
uni.append(uni_2)
uni.append(uni_3)
uni.append(uni_4)
uni.append(uni_5)
uni.append(uni_6)
uni.append(uni_11)
uni.append(uni_12)
uni.append(uni_13)
uni.append(uni_14)
uni.append(uni_15)
uni.append(uni_16)

columns = ['A2', 'A3', 'A4', 'A5', 'A6', 'A11', 'A12', 'A13', 'A14', 'A15', 'A16']

In [170]:
import pandas as pd
import numpy as np
import scipy.stats as stats


hee_df = pd.DataFrame([[None] * len(columns)] * len(columns),
                      index=columns,
                      columns=columns)

for index_x in range(len(uni)):
    col_x = columns[index_x]
    for index_y in range(len(uni)):
        col_y = columns[index_y]

        # Создаем таблицу сопряженности
        contingency_table = pd.crosstab(qual_data[col_x], qual_data[col_y])

        # Вычисляем статистику хи-квадрат
        chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

        hee_df._set_value(col_x, col_y, chi2)

hee_df.to_excel("hee.xlsx")

In [228]:
import math
ShflM = 200
alpha = 0.05
Stats_df = pd.DataFrame([[None]*len(columns)]*len(columns),
                      index=columns,
                      columns=columns)
for index_x in range(len(uni)):
    col_x = columns[index_x]
    for index_y in range(len(uni)):
        if (index_y <= index_x): continue
        col_y = columns[index_y]
        MXY_array = []
        for CurShfl in range(ShflM):
            qual_data[col_x] = np.random.permutation(qual_data[col_x].values)
            MXY = 0
            for y in uni[index_y]:
                py = len(qual_data[qual_data[col_y] == y]) / 500
                for x in uni[index_x]:
                    px = len(qual_data[qual_data[col_x] == x]) / 500
                    pxy = len(qual_data[(qual_data[col_y] == y) &
                                   (qual_data[col_x] == x)]) / 500
                    if pxy != 0:
                        MXY += pxy * math.log2((pxy) / (px * py))
            MXY_array.append(MXY)
        MXY_array.sort()
        Stats_df._set_value(col_x, col_y, MXY_array[int(len(MXY_array)*(1-alpha))])
        Stats_df._set_value(col_y, col_x, MXY_array[int(len(MXY_array)*(1-alpha))])
        print(col_x, col_y, MXY_array[int(len(MXY_array)*(1-alpha))])
Stats_df.to_excel("Stats.xlsx")

KeyboardInterrupt:

In [222]:
import pandas as pd
import numpy as np
import scipy.stats as stats


hee_df = pd.DataFrame([[None] * len(columns)] * len(columns),
                      index=columns,
                      columns=columns)

for index_x in range(len(uni)):
    col_x = columns[index_x]
    for index_y in range(len(uni)):
        col_y = columns[index_y]

        # Создаем таблицу сопряженности
        contingency_table = pd.crosstab(qual_data[col_x], qual_data[col_y])

        # Вычисляем статистику хи-квадрат
        chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

        # Записываем значение хи-квадрат в DataFrame
        hee_df._set_value(col_x, col_y, p)

hee_df.to_excel("p_value_qual.xlsx")

## Критерий Пирсона для количественных данных

In [168]:
quan_data = pd.read_excel("quantitative_data.xlsx")
uni_2_quan=list(quan_data['A2'].unique())
uni_3_quan=list(quan_data['A3'].unique())
uni_4_quan=list(quan_data['A4'].unique())
uni_5_quan=list(quan_data['A5'].unique())
uni_6_quan=list(quan_data['A6'].unique())
uni_11_quan=list(quan_data['A11'].unique())
uni_12_quan=list(quan_data['A12'].unique())
uni_13_quan=list(quan_data['A13'].unique())
uni_14_quan=list(quan_data['A14'].unique())
uni_15_quan=list(quan_data['A15'].unique())
uni_16_quan=list(quan_data['A16'].unique())

uni_quan=[]
uni_quan.append(uni_2_quan)
uni_quan.append(uni_3_quan)
uni_quan.append(uni_4_quan)
uni_quan.append(uni_5_quan)
uni_quan.append(uni_6_quan)
uni_quan.append(uni_11_quan)
uni_quan.append(uni_12_quan)
uni_quan.append(uni_13_quan)
uni_quan.append(uni_14_quan)
uni_quan.append(uni_15_quan)
uni_quan.append(uni_16_quan)

In [220]:
import pandas as pd
import numpy as np
import scipy.stats as stats


hee_quan_df = pd.DataFrame([[None] * len(columns)] * len(columns),
                      index=columns,
                      columns=columns)

for index_x in range(len(uni_quan)):
    col_x = columns[index_x]
    for index_y in range(len(uni_quan)):
        col_y = columns[index_y]

        # Создаем таблицу сопряженности
        contingency_table = pd.crosstab(quan_data[col_x], quan_data[col_y])

        # Вычисляем статистику хи-квадрат
        chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

        hee_quan_df._set_value(col_x, col_y, chi2)


hee_quan_df.to_excel("hee_quan.xlsx",sheet_name='Хи-квадрат')

In [221]:
import pandas as pd
import numpy as np
import scipy.stats as stats


p_value_quan_df = pd.DataFrame([[None] * len(columns)] * len(columns),
                      index=columns,
                      columns=columns)

for index_x in range(len(uni_quan)):
    col_x = columns[index_x]
    for index_y in range(len(uni_quan)):
        col_y = columns[index_y]

        # Создаем таблицу сопряженности
        contingency_table = pd.crosstab(quan_data[col_x], quan_data[col_y])

        # Вычисляем статистику хи-квадрат
        chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

        p_value_quan_df._set_value(col_x, col_y, p)


p_value_quan_df.to_excel("p_value.xlsx",sheet_name='p_value')

In [182]:
hee_quan_df

,A2,A3,A4,A5,A6,A11,A12,A13,A14,A15,A16
A2,2000.0,72.771354,7.501664,7.501664,63.848419,22.486064,12.102029,4.923498,81.632401,10.485558,19.0395
A3,72.771354,2000.0,12.694107,12.694107,79.651236,29.512675,5.203919,13.219825,67.388929,12.856724,35.447141
A4,7.501664,12.694107,1000.0,1000.0,41.122673,11.172583,1.463126,12.394728,24.59755,6.675919,19.525079
A5,7.501664,12.694107,1000.0,1000.0,41.122673,11.172583,1.463126,12.394728,24.59755,6.675919,19.525079
A6,63.848419,79.651236,41.122673,41.122673,6500.0,49.906907,25.139148,50.711184,98.368478,23.07514,84.312729
A11,22.486064,29.512675,11.172583,11.172583,49.906907,1000.0,2.614751,17.448962,17.732166,82.698568,120.927806
A12,12.102029,5.203919,1.463126,1.463126,25.139148,2.614751,495.984855,1.10093,21.251181,2.045121,0.523734
A13,4.923498,13.219825,12.394728,12.394728,50.711184,17.448962,1.10093,1000.0,8.956503,29.281911,6.13086
A14,81.632401,67.388929,24.59755,24.59755,98.368478,17.732166,21.251181,8.956503,2000.0,10.32786,32.91096
A15,10.485558,12.856724,6.675919,6.675919,23.07514,82.698568,2.045121,29.281911,10.32786,1000.0,79.485646
A16,19.0395,35.447141,19.525079,19.525079,84.312729,120.927806,0.523734,6.13086,32.91096,79.485646,495.964439

In [187]:
quan_data = pd.read_excel("quantitative_data.xlsx")
uni_2_phi=list(quan_data['A2'].unique())
uni_3_phi=list(quan_data['A3'].unique())
uni_4_phi=list(quan_data['A4'].unique())
uni_5_phi=list(quan_data['A5'].unique())
uni_6_phi=list(quan_data['A6'].unique())
uni_11_phi=list(quan_data['A11'].unique())
uni_12_phi=list(quan_data['A12'].unique())
uni_13_phi=list(quan_data['A13'].unique())
uni_14_phi=list(quan_data['A14'].unique())
uni_15_phi=list(quan_data['A15'].unique())
uni_16_phi=list(quan_data['A16'].unique())

uni_phi=[]
uni_phi.append(uni_2_phi)
uni_phi.append(uni_3_phi)
uni_phi.append(uni_4_phi)
uni_phi.append(uni_5_phi)
uni_phi.append(uni_6_phi)
uni_phi.append(uni_11_phi)
uni_phi.append(uni_12_phi)
uni_phi.append(uni_13_phi)
uni_phi.append(uni_14_phi)
uni_phi.append(uni_15_phi)
uni_phi.append(uni_16_phi)

In [218]:
import pandas as pd
import numpy as np
import scipy.stats as stats


phi_quan_df = pd.DataFrame([[None] * len(columns)] * len(columns),
                      index=columns,
                      columns=columns)

for index_x in range(len(uni_phi)):
    col_x = columns[index_x]
    for index_y in range(len(uni_phi)):
        col_y = columns[index_y]

        # Создаем таблицу сопряженности
        contingency_table = pd.crosstab(quan_data[col_x], quan_data[col_y])

        # Вычисляем статистику хи-квадрат
        chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

        n = 500
        phi = np.sqrt(chi2 / (n+chi2))
        
        
        phi_quan_df._set_value(col_x, col_y, phi)
        #print(col_x)
        

phi_quan_df.to_excel("phi_quan.xlsx", sheet_name='Пирсон')

In [217]:
import pandas as pd
import numpy as np
import scipy.stats as stats


crm_quan_df = pd.DataFrame([[None] * len(columns)] * len(columns),
                      index=columns,
                      columns=columns)

for index_x in range(len(uni_phi)):
    col_x = columns[index_x]
    for index_y in range(len(uni_phi)):
        col_y = columns[index_y]

        # Создаем таблицу сопряженности
        contingency_table = pd.crosstab(quan_data[col_x], quan_data[col_y])

        # Вычисляем статистику хи-квадрат
        chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

        n=500
        phi = np.sqrt(chi2 / (n+chi2))
        
        # коэффициент Крамера
        cramer_v = np.sqrt(chi2 / (n * min(contingency_table.shape[0]-1, contingency_table.shape[1]-1)))
       
        crm_quan_df._set_value(col_x, col_y, cramer_v)

crm_quan_df.to_excel("crm_quan.xlsx",sheet_name='Крамер')

## Задание 3 с перестановочным критерием

In [92]:
#A2,A3

from scipy.stats import permutation_test, chi2_contingency
import pandas as pd

a2_a3_df=quantitative_data_df.loc[:,['A2','A3']]

def statistic_func(x, y):
    # Функция, вычисляющая статистику зависимости (хи-квадрат)
    return chi2_contingency(pd.crosstab(x, y))[0]

result = permutation_test((a2_a3_df['A2'], a2_a3_df['A3']), statistic_func,
                          permutation_type='pairings', n_resamples=500)

print(f"Перестановочный критерий: {result.pvalue}")

print(hee2)

Перестановочный критерий: 0.003992015968063872
1000.0

In [93]:
#A2,A11

from scipy.stats import permutation_test, chi2_contingency
import pandas as pd

a2_a11_df=quantitative_data_df.loc[:,['A2','A11']]

def statistic_func(x, y):
    # Функция, вычисляющая статистику зависимости (хи-квадрат)
    return chi2_contingency(pd.crosstab(x, y))[0]

result = permutation_test((a2_a11_df['A2'], a2_a11_df['A11']), statistic_func,
                          permutation_type='pairings', n_resamples=500)
print(f"Перестановочный критерий: {result.pvalue}")

Перестановочный критерий: 0.015968063872255488

In [94]:
#A2,A14

from scipy.stats import permutation_test, chi2_contingency
import pandas as pd

a2_a14_df=quantitative_data_df.loc[:,['A2','A14']]

def statistic_func(x, y):
    # Функция, вычисляющая статистику зависимости (хи-квадрат)
    return chi2_contingency(pd.crosstab(x, y))[0]

result = permutation_test((a2_a14_df['A2'], a2_a14_df['A14']), statistic_func,
                          permutation_type='pairings', n_resamples=500)
print(f"Перестановочный критерий: {result.pvalue}")

Перестановочный критерий: 0.003992015968063872

In [95]:
#A2,A15

from scipy.stats import permutation_test, chi2_contingency
import pandas as pd

a2_a15_df=quantitative_data_df.loc[:,['A2','A15']]

def statistic_func(x, y):
    # Функция, вычисляющая статистику зависимости (хи-квадрат)
    return chi2_contingency(pd.crosstab(x, y))[0]

result = permutation_test((a2_a15_df['A2'], a2_a15_df['A15']), statistic_func,
                          permutation_type='pairings', n_resamples=500)
print(f"Перестановочный критерий: {result.pvalue}")

Перестановочный критерий: 0.46706586826347307

In [96]:
#A3,A11

from scipy.stats import permutation_test, chi2_contingency
import pandas as pd

a3_a11_df=quantitative_data_df.loc[:,['A3','A11']]

def statistic_func(x, y):
    # Функция, вычисляющая статистику зависимости (хи-квадрат)
    return chi2_contingency(pd.crosstab(x, y))[0]

result = permutation_test((a3_a11_df['A3'], a3_a11_df['A11']), statistic_func,
                          permutation_type='pairings', n_resamples=500)
print(f"Перестановочный критерий: {result.pvalue}")

Перестановочный критерий: 0.003992015968063872

In [97]:
#A3,A14

from scipy.stats import permutation_test, chi2_contingency
import pandas as pd

a3_a14_df=quantitative_data_df.loc[:,['A3','A14']]

def statistic_func(x, y):
    # Функция, вычисляющая статистику зависимости (хи-квадрат)
    return chi2_contingency(pd.crosstab(x, y))[0]

result = permutation_test((a3_a14_df['A3'], a3_a14_df['A14']), statistic_func,
                          permutation_type='pairings', n_resamples=500)
print(f"Перестановочный критерий: {result.pvalue}")

Перестановочный критерий: 0.003992015968063872

In [98]:
#A3,A15

from scipy.stats import permutation_test, chi2_contingency
import pandas as pd

a3_a15_df=quantitative_data_df.loc[:,['A3','A15']]

def statistic_func(x, y):
    # Функция, вычисляющая статистику зависимости (хи-квадрат)
    return chi2_contingency(pd.crosstab(x, y))[0]

result = permutation_test((a3_a15_df['A3'], a3_a15_df['A15']), statistic_func,
                          permutation_type='pairings', n_resamples=500)
print(f"Перестановочный критерий: {result.pvalue}")

Перестановочный критерий: 0.2275449101796407

In [99]:
#A11,A14

from scipy.stats import permutation_test, chi2_contingency
import pandas as pd

a11_a14_df=quantitative_data_df.loc[:,['A11','A14']]

def statistic_func(x, y):
    # Функция, вычисляющая статистику зависимости (хи-квадрат)
    return chi2_contingency(pd.crosstab(x, y))[0]

result = permutation_test((a11_a14_df['A11'], a11_a14_df['A14']), statistic_func,
                          permutation_type='pairings', n_resamples=500)
print(f"Перестановочный критерий: {result.pvalue}")

Перестановочный критерий: 0.027944111776447105

In [100]:
#A11,A15

from scipy.stats import permutation_test, chi2_contingency
import pandas as pd

a11_a15_df=quantitative_data_df.loc[:,['A11','A15']]

def statistic_func(x, y):
    # Функция, вычисляющая статистику зависимости (хи-квадрат)
    return chi2_contingency(pd.crosstab(x, y))[0]

result = permutation_test((a11_a15_df['A11'], a11_a15_df['A15']), statistic_func,
                          permutation_type='pairings', n_resamples=500)
print(f"Перестановочный критерий: {result.pvalue}")

Перестановочный критерий: 0.003992015968063872

In [101]:
#A14,A15

from scipy.stats import permutation_test, chi2_contingency
import pandas as pd

a14_a15_df=quantitative_data_df.loc[:,['A14','A15']]

def statistic_func(x, y):
    # Функция, вычисляющая статистику зависимости (хи-квадрат)
    return chi2_contingency(pd.crosstab(x, y))[0]

result = permutation_test((a14_a15_df['A14'], a14_a15_df['A15']), statistic_func,
                          permutation_type='pairings', n_resamples=500)
print(f"Перестановочный критерий: {result.pvalue}")

Перестановочный критерий: 0.5469061876247505

## Перестановочный критерий для качественных данных

In [102]:
#A4,A5

from scipy.stats import permutation_test, chi2_contingency
import pandas as pd

a4_a5_df=qualitative_data_df.loc[:,['A4','A5']]

def statistic_func(x, y):
    # Функция, вычисляющая статистику зависимости (хи-квадрат)
    return chi2_contingency(pd.crosstab(x, y))[0]

result = permutation_test((a4_a5_df['A4'], a4_a5_df['A5']), statistic_func,
                          permutation_type='pairings', n_resamples=500)


print(f"Перестановочный критерий: {result.pvalue}")

Перестановочный критерий: 0.003992015968063872

In [103]:
#A4,A6

from scipy.stats import permutation_test, chi2_contingency
import pandas as pd

a4_a6_df=qualitative_data_df.loc[:,['A4','A6']]

def statistic_func(x, y):
    # Функция, вычисляющая статистику зависимости (хи-квадрат)
    return chi2_contingency(pd.crosstab(x, y))[0]

result = permutation_test((a4_a6_df['A4'], a4_a6_df['A6']), statistic_func,
                          permutation_type='pairings', n_resamples=500)


print(f"Перестановочный критерий: {result.pvalue}")

Перестановочный критерий: 0.1437125748502994

In [104]:
#A4,A12

from scipy.stats import permutation_test, chi2_contingency
import pandas as pd

a4_a12_df=qualitative_data_df.loc[:,['A4','A12']]

def statistic_func(x, y):
    # Функция, вычисляющая статистику зависимости (хи-квадрат)
    return chi2_contingency(pd.crosstab(x, y))[0]

result = permutation_test((a4_a12_df['A4'], a4_a12_df['A12']), statistic_func,
                          permutation_type='pairings', n_resamples=500)


print(f"Перестановочный критерий: {result.pvalue}")

Перестановочный критерий: 0.9860279441117764

In [105]:
#A4,A13

from scipy.stats import permutation_test, chi2_contingency
import pandas as pd

a4_a13_df=qualitative_data_df.loc[:,['A4','A13']]

def statistic_func(x, y):
    # Функция, вычисляющая статистику зависимости (хи-квадрат)
    return chi2_contingency(pd.crosstab(x, y))[0]

result = permutation_test((a4_a13_df['A4'], a4_a13_df['A13']), statistic_func,
                          permutation_type='pairings', n_resamples=500)


print(f"Перестановочный критерий: {result.pvalue}")

Перестановочный критерий: 0.0998003992015968

In [107]:
#A5,A6

from scipy.stats import permutation_test, chi2_contingency
import pandas as pd

a5_a6_df=qualitative_data_df.loc[:,['A5','A6']]

def statistic_func(x, y):
    # Функция, вычисляющая статистику зависимости (хи-квадрат)
    return chi2_contingency(pd.crosstab(x, y))[0]

result = permutation_test((a5_a6_df['A5'], a5_a6_df['A6']), statistic_func,
                          permutation_type='pairings', n_resamples=500)


print(f"Перестановочный критерий: {result.pvalue}")

Перестановочный критерий: 0.11177644710578842

In [108]:
#A5,A12

from scipy.stats import permutation_test, chi2_contingency
import pandas as pd

a5_a12_df=qualitative_data_df.loc[:,['A5','A12']]

def statistic_func(x, y):
    # Функция, вычисляющая статистику зависимости (хи-квадрат)
    return chi2_contingency(pd.crosstab(x, y))[0]

result = permutation_test((a5_a12_df['A5'], a5_a12_df['A12']), statistic_func,
                          permutation_type='pairings', n_resamples=500)


print(f"Перестановочный критерий: {result.pvalue}")

Перестановочный критерий: 1.0

In [109]:
#A5,A13

from scipy.stats import permutation_test, chi2_contingency
import pandas as pd

a5_a13_df=qualitative_data_df.loc[:,['A5','A13']]

def statistic_func(x, y):
    # Функция, вычисляющая статистику зависимости (хи-квадрат)
    return chi2_contingency(pd.crosstab(x, y))[0]

result = permutation_test((a5_a13_df['A5'], a5_a13_df['A13']), statistic_func,
                          permutation_type='pairings', n_resamples=500)


print(f"Перестановочный критерий: {result.pvalue}")

Перестановочный критерий: 0.14770459081836326

In [110]:
#A6,A12

from scipy.stats import permutation_test, chi2_contingency
import pandas as pd

a6_a12_df=qualitative_data_df.loc[:,['A6','A12']]

def statistic_func(x, y):
    # Функция, вычисляющая статистику зависимости (хи-квадрат)
    return chi2_contingency(pd.crosstab(x, y))[0]

result = permutation_test((a6_a12_df['A6'], a6_a12_df['A12']), statistic_func,
                          permutation_type='pairings', n_resamples=500)


print(f"Перестановочный критерий: {result.pvalue}")

Перестановочный критерий: 0.03992015968063872

In [111]:
#A6,A13

from scipy.stats import permutation_test, chi2_contingency
import pandas as pd

a6_a13_df=qualitative_data_df.loc[:,['A6','A13']]

def statistic_func(x, y):
    # Функция, вычисляющая статистику зависимости (хи-квадрат)
    return chi2_contingency(pd.crosstab(x, y))[0]

result = permutation_test((a6_a13_df['A6'], a6_a13_df['A13']), statistic_func,
                          permutation_type='pairings', n_resamples=500)


print(f"Перестановочный критерий: {result.pvalue}")

Перестановочный критерий: 0.10778443113772455

In [112]:
#A12,A13

from scipy.stats import permutation_test, chi2_contingency
import pandas as pd

a12_a13_df=qualitative_data_df.loc[:,['A12','A13']]

def statistic_func(x, y):
    # Функция, вычисляющая статистику зависимости (хи-квадрат)
    return chi2_contingency(pd.crosstab(x, y))[0]

result = permutation_test((a12_a13_df['A12'], a12_a13_df['A13']), statistic_func,
                          permutation_type='pairings', n_resamples=500)


print(f"Перестановочный критерий: {result.pvalue}")

Перестановочный критерий: 0.40718562874251496